@{
    ViewBag.Title = "Contacts";
}
@Styles.Render("~/Content/profileStyles.css")

<div class="container">
    <h2>Development team</h2>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <figure class="text-center">
                            <img src="~/Content/images/StefkaProfilePic.jpg" alt="Profile picture" class="img-thumbnail img-responsive" />
                        </figure>
                        <br />
                        <br />
                    </div>
                    <div class="col-sm-9">
                        <div class="list-group-item well well-sm text-center" style="font-size: 25px; word-wrap: break-word;">Stefka Vasileva</div>
                        <ul class="list-group">
                            <li class="list-group-item col-sm-9">
                                <div style="margin: 22px">
                                    <div style="opacity: 0.8">GitHub profile: <a style="word-break: break-all; display: inline-block" href="https://github.com/stefkavasileva" target="_blank">https://github.com/stefkavasileva</a></div><br>
                                    <div style="opacity: 0.8">LinkedIn profile: <a style="word-break: break-all; display: inline-block" href="https://www.linkedin.com/in/stefka-vasileva-71b8a7127/" target="_blank">https://www.linkedin.com/in/stefka-vasileva-71b8a7127/</a></div><br>
                                    <div style="opacity: 0.8">Softuni profile: <a style="word-break: break-all; display: inline-block" href="https://softuni.bg/users/profile/show/stefkavasileva" target="_blank"> https://softuni.bg/users/profile/show/stefkavasileva</a></div><br>
                                    <div style="opacity: 0.8">Email: <a style="word-break: break-all; display: inline-block" href="mailto:stefkavasileva93@gmail.com">stefkavasileva93@gmail.com</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <figure class="text-center">
                            <img src="~/Content/images/GeorgiProfilePic.jpg" alt="Profile picture" class="img-thumbnail img-responsive" />
                        </figure>
                        <br />
                        <br />
                    </div>
                    <div class="col-sm-9">
                        <div class="list-group-item well well-sm text-center" style="font-size: 25px; word-wrap: break-word;">Georgi Gaydov</div>
                        <ul class="list-group">
                            <li class="list-group-item col-sm-9">
                                <div style="margin: 22px">
                                    <div style="opacity: 0.8">GitHub profile: <a style="word-break: break-all; display: inline-block" href="https://github.com/gaydov" target="_blank">https://github.com/gaydov</a></div><br>
                                    <div style="opacity: 0.8">LinkedIn profile: <a style="word-break: break-all; display: inline-block" href="https://www.linkedin.com/in/georgi-gaydov-b4350882/" target="_blank">https://www.linkedin.com/in/georgi-gaydov-b4350882/</a></div><br>
                                    <div style="opacity: 0.8">Sofuni profile: <a style="word-break: break-all; display: inline-block" href="https://softuni.bg/users/profile/show/ambiorix" target="_blank">https://softuni.bg/users/profile/show/ambiorix</a></div><br>
                                    <div style="opacity: 0.8">Email: <a style="word-break: break-all; display: inline-block" href="mailto:gaidov@gmail.com">gaidov@gmail.com</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
