@model List<AstroPhotoGallery.Models.Category>
@{
    ViewBag.Title = "Astrogallery";
}

<div class="container">
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1"></li>
            <li data-target="#mainCarousel" data-slide-to="2"></li>
        </ol>

        <!--Not responsive 350px height-->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/images/sliderImages/star cluster.jpg" alt="Astro picture">
            </div>
            <div class="item">
                <img src="~/Content/images/sliderImages/galaxy.jpg" alt="Astro picture">
            </div>
            <div class="item">
                <img src="~/Content/images/sliderImages/nebulae.jpg" alt="Astro picture">
            </div>
            <div class="item">
                <img src="~/Content/images/sliderImages/solar system.jpg" alt="Astro picture">
            </div>
            <div class="item">
                <img src="~/Content/images/sliderImages/wide andle image.jpg" alt="Astro picture">
            </div>
            <div class="item">
                <img src="~/Content/images/sliderImages/atmospheric phenomena.jpg" alt="Astro picture">
            </div>
            <div class="item">
                <img src="~/Content/images/sliderImages/landscape.jpg" alt="Astro picture">
            </div>
        </div>

        <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">PreviousPicture</span>
        </a>
        <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">NextPicture</span>
        </a>
    </div>
</div>
<div class="container">
    <div class="section">
        @{ int start = 0;}
        @{int length = Model.Count / 2;}
        <h3>Some of our categories...</h3>
        @for (int i = 0; i < 2; i++)
        {
            <div class="row">
                @if (i == 1)
                {
                    start = Model.Count / 2;
                    length = Model.Count;
                }
                @for (int j = start; j < length; j++)
                {
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            @if (Model[j].Pictures.Any(p => p.CategoryId == Model[j].Id))
                            {
                                <img src="@Url.Content(Model[j].Pictures.Where(p => p.CategoryId == Model[j].Id).FirstOrDefault().ImagePath)" style="width: 360px; height:270px">
                            }
                            else
                            {
                                <img src="~/Content/images/default-gallery-image.jpg" style="width: 360px; height:270px" />
                            }

                        </div>
                        <h3>@Model[j].Name</h3>
                        @Html.ActionLink("All pictures", "ListPictures", new { @categoryId = Model[j].Id }, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
            <br />
        }
    </div>
</div>


